@model string

<div>
    <grid>
        <div style="width: 33%; display: inline-block; vertical-align: top; color: white;">
            <div style="float: left; margin-left: 20px; margin-top: 10px;">
                <p style="font-weight: 500; font-size: 20px; margin-bottom: 2px; text-align: center;">
                    What does this tool do?
                </p>
                <p style="text-align: center;">
                    It calculates close approximate to best sets of maps to favorite with new <br />
                    Divination Scarab of Curation based on current div card prices on <a href="https://poe.ninja/economy/affliction/divination-cards">poe.ninja</a>. <br />
                    It can account for new Divination Scarab of Completion which affects different <br />
                    stack sizes differently, for different number of favorite map slots, and for <br />
                    <a href="https://divicards-site.pages.dev/weights">droprates</a> provided by <a href="https://discord.gg/3VxKY6gt7j">poe data science group</a>.
                </p>
            </div>
        </div>
        <div style="width: 33%; display: inline-block;">
            <div class="update-time">
                Prices last updated: @Model
            </div>
            <form id="filters_form" asp-action="GetMaps" asp-controller="Api">
                <div style="text-align: center;">
                    <div style="display: inline-block">
                        <p class="form-text">Min div card price (in chaos): </p> <input name="MinValue" type="number" value="10" class="form-value" />
                    </div>
                    <div style="display: inline-block">
                        <div data-toggle="tooltip" data-placement="bottom" title="Div cards with price lower than specified will be ignored when calculating their value (their drop weight will still be included for other div cards).">
                            <p class="tooltip-text"> ? </p>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 3px; text-align: center;">
                    <div style="display: inline-block">
                        <p class="form-text">With Divination Scarab of Completion: </p> <input name="Scarab" type="checkbox" class="form-checkbox" value="true" checked />
                    </div>
                    <div style="display: inline-block;">
                        <div data-toggle="tooltip" data-placement="bottom" title="Divination Scarab of Completion adds 20% chance to drop div card as full stack, which affects values differently depending on div card stack size. Effect: divCardValue * (4 + stackSize) / 5">
                            <p class="tooltip-text"> ? </p>
                        </div>
                    </div>
                </div>
                <div style="margin-top: 3px; margin-bottom: 3px; text-align: center;">
                    <div style="display: inline-block">
                        <p class="form-text">Favorite map slots: </p> <input name="FavSlots" type="number" class="form-value" value="12" min="1" max="12"/>
                    </div>
                    <div style="display: inline-block;">
                        <div data-toggle="tooltip" data-placement="bottom" title="How many maps to combine when calculating map set value.">
                            <p class="tooltip-text"> ? </p>
                        </div>
                    </div>
                </div>
                <div style="text-align: center">
                    <input type="submit" value="Calculate" class="submit-button" data-original-title="Tooltip." data-placement="right" data-toggle="tooltip" />
                </div>
            </form>
        </div>
        <div style="width: 33%; display: inline-block; vertical-align: top;">
            <div class="credits">
                <p>Created by: Notrum666(<a href="https://github.com/Notrum666">github</a>)(<a href="https://www.pathofexile.com/account/view-profile/Notrum666">PoE</a>), <a data-toggle="tooltip" data-placement="bottom" title="abstained from leaving any links">Hrenaki</a></p>
                <p>Hosted by: SilenceIX(<a href="https://www.pathofexile.com/account/view-profile/Ilece">PoE</a>)</p>
            </div>
        </div>
    </grid>
    <div id="table-container" class="table-container">

    </div>
</div>

<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });

    function GetMaps()
    {
        form = $('#filters_form');

        url = form.attr('action');
        data = form.serialize();

        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function (view) {
                $('#table-container').html(view);
            }
        });

        return false;
    }

    $('#filters_form').submit(GetMaps);
</script>